/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Body */
body{
    font-family:'Poppins',sans-serif;
    background-color:#f8f8f8;
    padding-top:90px;
}

/* Navbar */
.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:8px 50px;
    background:rgba(0,0,0,0.5);
    backdrop-filter:blur(5px);
    z-index:1000;
}
.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
    margin:0;
    padding:0;
    align-items:center;
}

.nav-links li{
    list-style:none;
}

.nav-links li a{
    text-decoration:none;
    color:#F8F4E3;
    font-size:16px;
    font-weight:500;
    transition:0.3s;
}

.nav-links li a:hover,
.nav-links li a.active{
    color:#FFD54F;
}
/* Hero Section */
.hero{
    height:100vh;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../images/gallery2.jpg");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding: 20px 0;
}

.hero-content{
    max-width:800px;
    color:#fff;
}
.hero-content h4{
    font-family:'Cinzel',serif;
    color:#FFD54F;
    font-size:30px;
    font-weight:700;
    letter-spacing:3px;
    text-transform:uppercase;
    margin-bottom:20px;
}
.hero-content{
    max-width:800px;
    color:#fff;
    padding-top:40px;
}

.hero-content h1{
    font-size:60px;
    line-height:1.2;
    margin-bottom:20px;
}

.hero-content p{
    font-size:18px;
    line-height:1.8;
    margin-bottom:35px;
}

.hero-buttons{
    display:flex;
    justify-content:center;
    gap:20px;
}

.btn{
    text-decoration:none;
    padding:14px 32px;
    border-radius:5px;
    font-weight:600;
    transition:0.3s;
}

.btn-primary{
    background:#2E8B57;
    color:white;
}

.btn-primary:hover{
    background:#236B43;
}

.btn-secondary{
    background:white;
    color:#2E8B57;
}

.btn-secondary:hover{
    background:#f1f1f1;
}
/* Logo */
.kanavagam-logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.kanavagam-logo img{
    width:70px;
    height:70px;
}

.kanavagam-logo h2{
    color:#FFD54F;
    font-size:28px;
    font-weight:700;
    margin:0;
}
/* About Preview Section */
.about-preview{
    background:#FFF8F0;
    padding:90px 80px;
}

.about-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
}
.about-text{
    text-align:center;
}
.about-image{
    display:flex;
    justify-content:center;
    margin-bottom:30px;
}
.about-image img{
    width:500px;
    height:320px;
    object-fit:cover;
    object-position:center;
    border-radius:15px;
}
.about-content{
    max-width:800px;
    margin:80px auto;
    text-align:center;
    padding:0 20px;
}
.about-content h5{
    color:#2E8B57;
    font-size:18px;
    letter-spacing:2px;
    margin-bottom:15px;
}
.about-content h2{
    font-size: 55px;
    line-height: 1.2;
    margin: 15px 0;
}

.about-content p{
    font-size:18px;
    line-height:1.8;
    margin-bottom:30px;
}

.about-btn{
    display:inline-block;
    text-decoration:none;
    background:#2E8B57;
    color:#fff;
    padding:14px 30px;
    border-radius:8px;
    font-weight:600;
    transition:0.3s;
}

.about-btn:hover{
    background:#236B43;
}
.about-banner{
    padding:110px 20px 60px;
    text-align:center;
}
/* Founder Preview Section */
.founder-preview{
    padding:90px 80px;
}
.founder-container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:60px;
}
.founder-content{
    flex:1;
    text-align:center;
}
.founder-content h2{
    font-size:42px;
    color:#2E8B57;
    margin-bottom:20px;
}

.founder-content p{
    font-size:18px;
    line-height:1.8;
    color:#555;
    margin-bottom:20px;
}




.founder-btn:hover{
    background:#B8860B;
}

.founder-image{
    flex:1;
    text-align:center;
}
.founder-image img{
    width:420px;
    max-width:100%;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.15);
}
.founder-quote{
    text-align:center;
    font-size:24px;
    font-weight:600;
    color:#2E8B57;
    font-style:italic;
    margin:50px auto;
    max-width:800px;
    line-height:1.6;
}
/* Children Preview Section */
.children-preview{
    padding: 90px 80px;
    background:#F7FBF8;
}
.children-image img{
    width:650px;
    height:350px;
    object-fit:cover;
    object-position:center;
    border-radius:15px;
    display:block;
    margin:auto;
}
.section-title{
    text-align:center;
    max-width:800px;
    margin:0 auto 60px;
}

.section-title h5{
    color:#2E8B57;
    font-size:18px;
    letter-spacing:2px;
    margin-bottom:15px;
}

.section-title h2{
    font-size:42px;
    color:#333;
    margin-bottom:20px;
}

.section-title p{
    font-size:18px;
    color:#555;
    line-height:1.8;
}

.children-gallery{
    display:flex;
    gap:30px;
    justify-content:center;
}

.gallery-card{
    background:#fff;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 8px 20px rgba(0,0,0,0.1);
    transition:0.3s;
}

.gallery-card:hover{
    transform:translateY(-8px);
}

.gallery-card img{
    width:100%;
    height:260px;
    object-fit:cover;
}

.gallery-card h3{
    padding:20px 20px 10px;
    color:#333;
}

.gallery-card p{
    padding:0 20px 25px;
    color:#666;
    line-height:1.7;
}

.children-btn{
    text-align:center;
    margin-top:50px;
}

.children-btn a{
    text-decoration:none;
    background:#2E8B57;
    color:white;
    padding:15px 35px;
    border-radius:8px;
    font-weight:600;
    transition:0.3s;
}

.children-btn a:hover{
    background:#236B43;
}
/* Support Section */
.support-section{
    background:#2E8B57;
    padding:120px 100px 20px;
    text-align:center;
}

.support-container{
    max-width:850px;
    margin:auto;
}

.support-container h5{
    color:#FFD54F;
    font-size:18px;
    letter-spacing:3px;
    margin-bottom:15px;
}

.support-container h2{
    color:#ffffff;
    font-size:45px;
    margin-bottom:25px;
}

.support-container p{
    color:#F5F5F5;
    font-size:18px;
    line-height:1.9;
    margin-bottom:40px;
}

.support-btn{
    display:inline-block;
    text-decoration:none;
    background:#FFD54F;
    color:#2E8B57;
    padding:16px 35px;
    border-radius:8px;
    font-weight:600;
    transition:0.3s;
}

.support-btn:hover{
    background:#ffffff;
}
/* Footer */

.footer{
    background:#1D3B2A;
    color:white;
    padding:70px 80px 20px;
}

.footer-container{
    display:flex;
    justify-content:space-between;
    gap:60px;
    flex-wrap:wrap;
}

.footer-about,
.footer-links,
.footer-contact{
    flex:1;
}

.footer-about img{
    width:70px;
    margin-bottom:15px;
}

.footer-about h3,
.footer-links h3,
.footer-contact h3{
    margin-bottom:20px;
    color:#FFD54F;
}

.footer-about p,
.footer-contact p{
    line-height:1.8;
    color:#ddd;
}

.footer-links a{
    display:block;
    text-decoration:none;
    color:#ddd;
    margin-bottom:12px;
    transition:0.3s;
}

.footer-links a:hover{
    color:#FFD54F;
}

.footer hr{
    margin:40px 0 20px;
    border:1px solid rgba(255,255,255,0.15);
}

.copyright{
    text-align:center;
    color:#ccc;
}
/* Achievement Section */

.achievement-section{
    padding:90px 80px;
    background:#F8FDF9;
}

.achievement-heading{
    text-align:center;
    margin-bottom:60px;
}

.achievement-heading h5{
    color:#2E8B57;
    letter-spacing:2px;
    font-size:18px;
}

.achievement-heading h2{
    font-size:42px;
    color:#333;
    margin-top:15px;
}

.achievement-cards{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
}

.achievement-card{
    background:#fff;
    padding:35px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,0.08);
    transition:.3s;
}

.achievement-card:hover{
    transform:translateY(-8px);
}

.achievement-card h3{
    color:#2E8B57;
    margin-bottom:15px;
}

.achievement-card p{
    color:#555;
    line-height:1.8;
}
/* Mission Section */

.mission-section{
    padding:90px 80px;
    background:#ffffff;
    text-align:center;
}

.mission-section h5{
    color:#2E8B57;
    letter-spacing:2px;
    margin-bottom:15px;
}

.mission-section h2{
    font-size:42px;
    color:#333;
    margin-bottom:50px;
}

.mission-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.mission-card{
    width:320px;
    background:#F8FDF9;
    padding:30px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,0.08);
    transition:.3s;
}

.mission-card:hover{
    transform:translateY(-8px);
}

.mission-card h3{
    color:#2E8B57;
    margin-bottom:20px;
}

.mission-card p{
    color:#555;
    line-height:1.8;
}
/* Contact */

.contact-section{
    padding: 160px 80px;
    text-align:center;
    background:#f8f8f8;
}

.contact-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    margin-top:40px;
}

.contact-card{
    width:280px;
    background:#fff;
    padding:30px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.contact-form{
    padding:80px;
    text-align:center;
}

.contact-form form{
    max-width:600px;
    margin:auto;
}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:15px;
    margin:15px 0;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}

.contact-form button{
    background:#2E8B57;
    color:#fff;
    border:none;
    padding:15px 35px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

.contact-form button:hover{
    background:#246b45;
}
/* Vision Section */

.vision-section{
    padding:70px 10%;
    background:#f8f9fa;
}

.vision-container{
    max-width:900px;
    margin:auto;
    text-align:center;
}

.vision-container h2{
    font-size:38px;
    color:#2E8B57;
    margin-bottom:20px;
}

.vision-container p{
    font-size:18px;
    line-height:1.8;
    color:#555;
}